/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */
.collage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.collage>* {
    flex: 0 0 60%;
}